[[source]]

url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"


[packages]

django = "*"
django-environ = "*"
django-extensions = "*"
django-reversion = "*"
django-import-export = "*"
django-model-utils = "*"
django-imagekit = "*"
django-docutils = "*"
django-taggit = "*"
django-mptt = "*"
django-admin-rangefilter = "*"
django-jet = "*"
djangorestframework = "*"
drf-extensions = "*"
gunicorn = "*"
"psycopg2" = "*"
gevent = "*"
qrcode = "*"
arrow = "*"
django-celery = "*"
django-redis = "*"


[dev-packages]

django-debug-toolbar = "*"
whitenoise = "*"
raven = "*"
plan = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest = "*"


[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true
