<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<title>MM131官方app MM131安卓下载 MM131苹果版下载</title>
		<meta name="keywords" content="MM131,MM131app,MM131下载,MM131安卓下载" />
		<meta name="description" content="绝对正版MM131官方app，MM131忠实用户可放心下载体验，安卓版苹果版app应有尽有，看高清性感美女图片美女视频体验更佳！！" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>		
		
		<div class="main">
			<h1>
				<img src="images/logo.png"/>
			</h1>
			<div class="bg"><img src="images/img2.png"/></div>
			<a href="javascript:;" id="downBtn">立即下载</a>
			<!--判断安卓微信-->
			<div id="wechat">
				<img src="images/tips.png"/>
			</div>
		</div>
		<div style="display:none;"><script src="https://s13.cnzz.com/z_stat.php?id=1263415983&web_id=1263415983" language="JavaScript"></script></div>
	</body>
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/down.js"></script>
</html>
